<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>loops</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="container">
        <div class="row">
          <div class="col-5 p-2">
            <h3 class="text-center">Todo List</h3>
            <div class="d-flex">
              <!-- @keypress.enter="todoList.push($event.target.value)" -->
              <input type="text" @keypress.enter="addTodo" />
            </div>
            <div v-if="todoList.length > 0">
              <ul class="list-group">
                <li
                  class="d-flex justify-content-between list-group-item"
                  v-for="(item,i) in todoList"
                  :key="i"
                  :class="!item.completed ?'bg-danger' : 'bg-success'"
                >
                  <div class="d-flex align-items-center justify-content-center">
                    <input
                      type="checkbox"
                      v-model="item.completed"
                      :id="item.id"
                      class="from-check-input"
                    />
                    <label :for="item.id" class="from-check-label"
                      >{{item.text}}</label
                    >
                  </div>
                  <button
                    class="btn btn-danger btn-sm"
                    @click="deleteTodo(item)"
                  >
                    Sil
                  </button>
                </li>
              </ul>
              <small class="text-succes"
                >Completed Todo Count {{completedItemCount}}</small
              >
              <br />
              <small class="text-danger"
                >unCompleted Todo Count {{uncompletedItemCount}}</small
              >
            </div>
            <div v-else class="alert alert-warning">Todo no</div>
          </div>
          <div class="col-5">
            <pre>{{todoList}}</pre>
          </div>
        </div>
      </div>
    </div>
    <script src="app.js"></script>
  </body>
</html>
